In [1]:
df_x = spark.sql("""
    SELECT 
        game_mode
    FROM bucket_matches
""")
df_x.show()

NameError: name 'spark' is not defined